@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font: 81.25%/1.5 Arial,Helvetica,sans-serif;
  font-family: 'Roboto', sans-serif;

  background: #f5f5f5;
}

.rea-app {
  width: 62em;
  margin: 0 auto;
  display: flex;
}

.rea-property {
  width: 100%;

  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 5px rgba(0, 0, 0, 0.3);
  background: #fff;

  margin: 0 0 1em;
}

.rea-property--price {
  font-size: 150%;
  font-weight: 300;
}

.rea-property--logo {
  display: block;
}

.rea-property--main-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.rea-results {
  width: 40em;
  min-width: 20em;
}

.rea-saved-properties {
  width: 20em;
  margin-left: auto;
}

.rea-button {
  line-height: 1;
  background: transparent;
  border: none;
}

@media only screen and (min-width: 1200px) {

  body {
    font-size: 91%;
  }

  .rea-results {
    max-width: 60em;
  }

}

@media only screen and (min-width: 1460px) {

   body {
    font-size: 100%;
  }

}